@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei', 微软雅黑, 'Segoe UI', Tahoma, 宋体b8b体, SimSun, sans-serif; }

input, textarea, button {
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif; }

.im {
  position: fixed;
  bottom: 0;
  right: -1px;
  z-index: 99;
  transition: bottom 0.2s;
  -webkit-transition: bottom 0.2s;
  height: 400px; }
  .im .im-shandow {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.45);
    overflow: hidden; }
  .im.im-fold {
    bottom: -359px;
    transition: bottom .2s;
    -webkit-transition: bottom .2s; }
  .im .im-wrap {
    position: relative;
    float: right;
    z-index: 2; }
    .im .im-wrap .im-head {
      width: 200px;
      height: 40px;
      line-height: 40px;
      padding-left: 40px;
      border-bottom: 1px solid #ddd;
      background: url(../img/im.png) no-repeat 12px 12px;
      cursor: pointer; }
      .im .im-wrap .im-head .im-head-title {
        margin-right: 5px;
        vertical-align: middle; }
      .im .im-wrap .im-head .im-head-mun {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        padding: 0 5px;
        border-radius: 8px;
        font-size: 12px; }
      .im .im-wrap .im-head .im-head-clasebtn {
        float: right;
        display: block;
        width: 40px;
        height: 40px;
        text-indent: 99em;
        overflow: hidden;
        background: url(../img/im.png) no-repeat 12px -108px; }
    .im .im-wrap .im-body {
      height: 393px;
      overflow-x: hidden;
      overflow-y: auto; }
      .im .im-wrap .im-body .noagent {
        margin-top: 85px;
        padding-top: 90px;
        text-align: center;
        background: url(../img/noagent.png) no-repeat 50% 0; }
        .im .im-wrap .im-body .noagent .noagent-title {
          padding-bottom: 10px;
          color: #5a5a5a;
          line-height: 16px;
          font-size: 16px;
          font-weight: 700; }
        .im .im-wrap .im-body .noagent .noagent-sub {
          color: #888;
          font-size: 12px; }
      .im .im-wrap .im-body .im-listitem-container li {
        height: 42px;
        line-height: 42px;
        padding: 0 10px;
        border-bottom: 1px solid #ddd; }
        .im .im-wrap .im-body .im-listitem-container li img {
          display: inline-block;
          margin-right: 10px; }
  .im .im-window {
    position: relative;
    float: right;
    width: 380px;
    height: 434px;
    border-right: 1px solid #ddd;
    background: #fff;
    z-index: 1;
    display: none; }
    .im .im-window .im-wintitle {
      position: relative;
      height: 40px;
      line-height: 40px; }
      .im .im-window .im-wintitle i {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 2px 0 14px;
        border-radius: 50%;
        text-indent: 999em;
        overflow: hidden;
        background: #009de8; }
      .im .im-window .im-wintitle .im-wt-name {
        font: 400 14px/40px "microsoft yahei","\5FAE\8F6F\96C5\9ED1","simhei","\9ED1\4F53","san-serif";
        color: #333; }
      .im .im-window .im-wintitle .im-wt-closebtn {
        position: absolute;
        right: 15px;
        top: 13px;
        display: block;
        width: 14px;
        height: 14px;
        text-indent: 999em;
        overflow: hidden;
        background: url("../img/im.png") no-repeat 0 -91px;
        cursor: pointer; }
    .im .im-window .im-wincont .im-wc-chat {
      height: 235px;
      border-bottom: 1px solid #e0e0e0;
      background: #f3f3f3;
      overflow: auto; }
      .im .im-window .im-wincont .im-wc-chat .im-window-msgcontainer {
        position: relative; }
        .im .im-window .im-wincont .im-wc-chat .im-window-msgcontainer .chat-block {
          margin: 24px 0; }
      .im .im-window .im-wincont .im-wc-chat .chat-avatar {
        width: 59px;
        text-align: center; }
        .im .im-window .im-wincont .im-wc-chat .chat-avatar a {
          display: inline-block;
          vertical-align: top; }
        .im .im-window .im-wincont .im-wc-chat .chat-avatar img {
          border-radius: 50%; }
      .im .im-window .im-wincont .im-wc-chat .chat-content {
        position: relative;
        max-width: 220px;
        min-height: 20px;
        padding: 10px;
        border-radius: 5px;
        word-break: break-all; }
        .im .im-window .im-wincont .im-wc-chat .chat-content i {
          position: absolute;
          top: 0;
          display: block;
          width: 6px;
          height: 6px;
          font-size: 0; }
        .im .im-window .im-wincont .im-wc-chat .chat-content p {
          font: 400 12px/20px "microsoft yahei","\5FAE\8F6F\96C5\9ED1","simhei","\9ED1\4F53","san-serif"; }
      .im .im-window .im-wincont .im-wc-chat .chat-time {
        color: #aaa;
        font-size: 12px;
        text-align: center; }
      .im .im-window .im-wincont .im-wc-chat .chat-out .chat-content {
        color: #fff;
        background: #009de8;
        float: right;
        border-top-right-radius: 0; }
        .im .im-window .im-wincont .im-wc-chat .chat-out .chat-content i {
          right: -6px;
          background: url(../img/bg_b.png) no-repeat; }
      .im .im-window .im-wincont .im-wc-chat .chat-out .chat-avatar {
        float: right;
        border-top-right-radius: 0; }
      .im .im-window .im-wincont .im-wc-chat .chat-in .chat-avatar {
        float: left;
        border-top-left-radius: 0; }
    .im .im-window .im-wincont .im-wc-input .im-input-container {
      position: relative;
      width: 339px;
      height: 28px;
      margin: 10px 9px 0 10px;
      padding: 10px 10px 23px 10px;
      border: 1px solid #d9d9d9; }
      .im .im-window .im-wincont .im-wc-input .im-input-container textarea {
        width: 339px;
        height: 28px;
        border: none;
        color: #999;
        line-height: 14px;
        font-size: 12px;
        background: #fff;
        overflow: hidden; }
    .im .im-window .im-wincont .im-wc-input .im-btn-container {
      height: 50px;
      padding: 0 9px 0 15px;
      line-height: 50px; }
      .im .im-window .im-wincont .im-wc-input .im-btn-container input {
        float: right;
        display: inline-block;
        width: 81px;
        height: 31px;
        margin: 10px 0 9px 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        line-height: 31px;
        color: #fff;
        text-align: center;
        background: #009de8;
        cursor: pointer; }
